################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
**/*.user
/Numerolog/wwwroot/SoundFonts/TimGM6mb.sf2
