@page "/Tones"
@inherits MidiInstrument

<h1>Tóny</h1>

@base.BuildRenderTree

<div class="mb-1">
    <FrequencyInput @bind-Value="frequency"/>
</div>

<AudioPlayer Provider="FrequencyProvider" />

<fieldset class="mb-1">
    Akord:
    <FrequencyInput @bind-Value="frequency1"
                    NameNumber="1"/>
    <FrequencyInput @bind-Value="frequency2"
                    NameNumber="2" />
    <FrequencyInput @bind-Value="frequency3"
                    NameNumber="3" />
</fieldset>

<AudioPlayer Provider="ChordProvider" />
